/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

h1, h2 {
    color: #2d2d2d;
}

.container {
    width: 80%;
    margin: 0 auto;
}

section {
    padding: 60px 0;
}

/* Header Section */
header {
    background-color: #4CAF50;
    color: white;
    padding: 20px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

/* About Section */
#about {
    background-color: #f4f4f4;
    text-align: center;
}

/* Skills Section */
#skills ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

#skills ul li {
    display: inline-block;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    margin: 10px;
}



/* Experience Section */
#experience ul {
    list-style: none;
    padding: 0;
}

#experience ul li {
    padding: 10px 0;
}

/* Gallery Section */
.gallery-images {
    display: flex;
    justify-content: space-between;
}

.gallery-images img {
    width: 30%;
    height: auto;
    border-radius: 8px;
}

/* Contact Section */
#contact {
    text-align: center;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}
